/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * nicolasgallagher.com/micro-clearfix-hack/
 */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}

/**
 * Custom styles
 */

 html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body
{
	background: #efefef;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;
}

header
{
	background-color: #9bb9bb;
	padding: 30px;
}

.row
{
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 20px;
}

.logotype
{
	font-family: Lato;
	font-weight: 300;
	font-size: 30px;
	float: left;
}
.logotype img
{
	height: 32px;
	vertical-align: bottom;
	position: relative;
	top: -2px;
}
.logotype a
{
	color: black;
	text-decoration: none;
}

.navbar
{
	float: right;
	font-family: Lato;
	font-size: 18px;
}
.navbar li
{
	display: inline-block;
}
.navbar a
{
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding: 7px 14px;
}

.navbar a:hover,
.navbar a:focus
{
	text-decoration: underline;
}


.content-area p
{
	margin-bottom: 20px;
}
.content-area h1,
.faux-h1
{
	font-family: Lato;
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 40px;
}
.faux-h1
{
	margin-bottom: 26px;
}

.contact-block
{
	background: #9bb9bb;
	margin-left: -2000px;
	padding-left: 2000px;
	margin-right: -2000px;
	padding-right: 2000px;

	padding-top: 20px;
	padding-bottom: 50px;
	margin-bottom: 20px;
}

input, textarea
{
	border: 1px solid #727272;
	padding: 10px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	margin-bottom: 20px;
}

label
{
	margin-bottom: 4px;
	display: inline-block;
}

input, textarea, button
{
	width: 600px;
}

button[type=submit]
{
	background: black;
	color: white;
	font-family: inherit;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	border: none;
	padding: 12px;
	cursor: pointer;
}