/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * nicolasgallagher.com/micro-clearfix-hack/
 */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	*zoom: 1;
}

/**
 * Custom styles
 */

 html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body
{
	background: #efefef;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;
}

img
{
	max-width: 100%;
	font-style: italic;
	vertical-align: middle;
}

img[width],
img[height]
{
	max-width: none;
}

button
{
	font-family: inherit;
	border: none;
	cursor: pointer;
}

header
{
	background-color: #9bb9bb;
	padding: 30px 0;
}

.container {
    overflow: hidden;
    max-width: 100%;
    position: relative;
}

.row
{
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 20px;
}

.logolink
{
	text-decoration: none;
	color: inherit;
}
.logotype
{
	font-family: 'KoHo', sans-serif;
	font-weight: 300;
	font-size: 30px 0;
	float: left;
	font-size: 26px;
}
.logotype img
{
	height: 32px;
	vertical-align: bottom;
	position: relative;
	top: -2px;
	margin-right: 10px;
}
.logotype a
{
	color: black;
	text-decoration: none;
}
.logotype__txt
{
	display: inline-block;
}
.logotype__subtitle
{
	font-size: 14px;
}

.navbar
{
	float: right;
	font-family: 'KoHo', sans-serif;
	font-size: 18px;
}
.navbar li
{
	display: inline-block;
}
.navbar a
{
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding: 7px 14px;
	font-weight: 300;
}

.navbar a:hover,
.navbar a:focus
{
	text-decoration: underline;
}

.menu-toggle
{
	display: none;
}

.stop-scrolling
{
	height: 100%;
	overflow: hidden;
}

.stop-scrolling header
{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 200;
}

@media (max-width: 1000px)
{
	.logotype__subtitle
	{
		display: block;
	}
}
@media (max-width: 900px) and (min-width: 700px)
{
	.logotype
	{
		margin-left: 17px;
		margin-bottom: 20px;
	}
	.navbar
	{
		float: none;
		display: block;
		clear: both;
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: -30px;
		padding: 0 20px;
		border-top: 1px solid #c4dadb;
	}
	.navbar a
	{
		padding-top: 14px;
		padding-bottom: 14px;
	}
}
@media (max-width: 700px)
{
	.navbar
	{
		display: none;
		position: fixed;
		top: 110px;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: inherit;
		border-top: 1px solid #c4dadb;
		background-color: #9bb9bb;
		z-index: 200;
	}
	.navbar li
	{
		display: block;
	}
	.navbar a
	{
		display: block;
		padding: 17px 20px;
	}

	.menu-toggle
	{
		display: block;
		float: right;
		font-size: 16px;
		line-height: 1.5;
		font-style: normal;
		background: #517d80;
		color: white;
		padding: 13px;
	}

	.menu-toggle__burger
	{
		width:16px;
		height:12px;
		cursor:pointer;
		position:relative;
		display:inline-block;
		vertical-align:top;
		margin-right: 4px;
		margin-top: 6px;
	}
	.line
	{
		width:100%;
		height:2px;
		display:block;
		position:absolute;
		background-color:#fff;
		transition: .6s cubic-bezier(.175,.885,.32,1.275) all;
	}
	.line.top
	{
		top:0
	}
	.line.mid
	{
		top:50%;
		-webkit-transform-origin:50% 0;
		-ms-transform-origin:50% 0;
		transform-origin:50% 0;
		-webkit-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%)
	}
	.line.bottom
	{
		bottom:0;
		opacity:1;
		-webkit-transform-origin:50% 0;
		-ms-transform-origin:50% 0;
		transform-origin:50% 0
	}
	.has-menu-open .line.top
	{
		top:50%;
		-webkit-transform:rotateZ(-45deg) translateY(-50%);
		-ms-transform:rotate(-45deg) translateY(-50%);
		transform:rotateZ(-45deg) translateY(-50%)
	}
	.has-menu-open .line.mid
	{
		-webkit-transform:rotateZ(45deg);
		-ms-transform:rotate(45deg);
		transform:rotateZ(45deg)
	}
	.has-menu-open .line.bottom
	{
		opacity:0
	}
}

@media (max-width: 340px)
{
	.menu-toggle__label
	{
		display: none;
	}
}

.content-area
{
	padding-top: 40px;
	line-height: 1.4;
	font-size: 1.1em;
}
.content-area p
{
	margin-bottom: 20px;
}
.content-area--about img
{
	float: left;
	max-width: 30%;
	padding-right: 20px;
	margin-bottom: 20px;
}
.content-area h1,
.faux-h1
{
	font-family: 'KoHo', sans-serif;
	font-size: 42px;
	font-weight: 400;
	margin-bottom: 40px;
}
h2
{
	font-family: 'KoHo', sans-serif;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 26px;
}

.contact-block
{
	background: #9bb9bb;
	margin-left: -2000px;
	padding-left: 2000px;
	margin-right: -2000px;
	padding-right: 2000px;

	padding-top: 20px;
	padding-bottom: 50px;
	margin-bottom: 20px;
}

.contact-block input,
.contact-block textarea
{
	border: 1px solid #727272;
	padding: 10px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	margin-bottom: 20px;
}

.contact-block label
{
	margin-bottom: 4px;
	display: inline-block;
}

.contact-block input,
.contact-block textarea,
.contact-block button
{
	width: 600px;
	max-width: 100%;
}

.contact-block button[type=submit]
{
	background: black;
	color: white;
	font-size: 20px;
	font-family: 'KoHo', sans-serif;
	padding: 12px;
}

.collection
{
	margin-bottom: 60px;
}

@media (min-width: 1000px)
{
	.imggrid
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
.imggrid__item
{
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;

	position: relative;
	cursor: pointer;
}
.imggrid__item:hover .imggrid__expand,
.imggrid__item:focus .imggrid__expand
{
	opacity: 1;
}
.imggrid__expand
{
	position: absolute;
	top: 10px;
	left: 7px;
	width: 24px;
	height: 24px;
	opacity: .6;
	transition: .5s ease;
	box-shadow: 1px 1px 5px -1px #000;
	background-color: gray;
	background-image: url(/static/img/maximize.svg);
	background-size: 24px 24px,20px 20px;
	background-position: center,center;
	background-repeat: no-repeat,no-repeat;
}
.imggrid img
{
	max-height: 290px;
}

.collection__subtitle
{
	font-size: 14px;
	margin-top: -10px;
}

footer
{
	margin-bottom: 20px;
}