.popover-bg,
.popover
{
	display: none;
}
.popover-bg
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #333;
	opacity: 0.9;
}
.popover
{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	-moz-user-select: none;
}
.popover__container
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 90vw;
	max-height: 90vh;
}
.popover img
{
	max-height: 90vh;
}
.popover__desc
{
	position: fixed;
	bottom: 0;
	background: rgba(99, 99, 99, 0.9);
	padding: 0 14px;
}
.popover__title
{
	color: white;
	font-family: KoHo,sans-serif;
	font-size: 30px;
	margin-bottom: 10px;
}
.popover__subtitle
{
	color: white;
	font-family: KoHo,sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
}

.popover::before {
    content: "\00a0";
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: transparent;
    background-image: url(/static/img/close-white.svg);
    background-size: 100% 100%;
}