<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="cf">
			<div class="row">
				<div class="logotype">
					<img src='{{ "/static/img/logo.png" | url }}' alt=''>
					<a href="{{ '/' | url }}">{{ metadata.title }}</a>
				</div>
				{% include "components/nav.njk" %}
			</div>
		</header>

		<main>
			<div class="row">
				{{ layoutContent | safe }}
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
