---
layout: layouts/base.njk
section: collection
---

<div class='content-area cf'>
	<h1>{{ title }}</h1>
	<div class="imggrid">
		{%- for photo in photos -%}
		<div class="imggrid__item imggrid__item--{{photo.orientation}}">
			<span class="imggrid__expand"></span>
			<img data-src='{{photo.large_image}}' alt='{{photo.alt}}' class="imggrid__img imggrid__img--{{photo.orientation}}" data-large='{{photo.large_image}}' data-title='{{photo.title | e}}' data-subtitle='{{photo.subtitle | e}}'>
		</div>
		{%- endfor -%}
	</div>
</div>