---
layout: layouts/base.njk
section: home
---

<div class='home__img-wrap'>
	<div class="slider">
		<div><img data-lazy='/static/img/wedding/8_1.jpg' alt='Brighton Registry Office'></div>
		<div><img data-lazy='/static/img/wedding/12_1.jpg' alt='Finding ‘the one’'></div>
		<div><img data-lazy='/static/img/architecture/1_1.jpg' alt='Blurred vision'></div>
		<div><img data-lazy='/static/img/collaborations/5_1.jpg' alt='Hair and make-up student collaboration'></div>
		<div><img data-lazy='/static/img/location/8.jpg' alt='Alice in wonderland, sample magazine spread'></div>
		<div><img data-lazy='/static/img/location/22.jpg' alt='‘Bailey’ the Dartmoor pony'></div>
		<div><img data-lazy='/static/img/studio/5.jpg' alt='Alice'></div>
		<div><img data-lazy='/static/img/studio/20.jpg' alt='Real life canvas'></div>
	</div>
</div>
<div>
	<h1 class="faux-h1 home__heading">Paige Taylor Photography</h1>
	<h2 class='home__subtitle'>Event and Studio photography in Brighton, Hove<br>and the surrounding area</h2>
</div>